* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --primary-color: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10%;
}

.container {
    width: 400px;
    height: min-content;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 12px;
    padding: 28px;
}

.search-box {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input {
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 14px;
    padding: 12px 24px;
    background-color: rgba(16, 228, 228, 0.358);
}

.search-box input::placeholder {
    color: black;
}

.search-box button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: rgba(16, 228, 228, 0.358);
    font-size: 20px;
    cursor: pointer;
}

.weather-body img {
    width: 60%;
}

.location-not-found h1 {
    font-size: 20px;
    color: red;
    margin-block-end: 15px;
}

.location-not-found {
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location-not-found img {
    width: 80%;
}

.weather-body {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weather-box {
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature {
    font-size: 40px;
    font-weight: bolder;
    position: relative;
}

.weather-box .temperature sup {
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity,
.wind {
    display: flex;
    align-items: center;
}

.humidity {
    margin-left: 20px;
}

.wind {
    margin-right: 20px;
}

.weather-details .text {
    font-size: 18px;
    margin-left: 5px;
}

.text span {
    font-size: 20px;
    font-weight: 600;
}